{% extends 'base.html' %}

{% block header %}
<header>
    <h1 class="text-center"><a class="text-dark text-decoration-none" href="{% url 'index' %}">GERMAN CAR WAREHOUSE</a></h1>
    <form id="carForm" class="container d-flex justify-content-center pt-2 flex-column flex-sm-row " method="post">
        {% csrf_token %}
        {{ form.make }}
        {{ form.model}}
        {{ form.begin_year}}
        {{ form.end_year}}
        <button class="btn btn-primary mt-2 mt-sm-0 mx-sm-1" type="submit">Submit</button>
    </form>
</header>
{% endblock%}