{% extends 'base.html' %}

{% block header %}
<header>
    <h1 class="text-center">GERMAN CAR WAREHOUSE</h1>
    <form class="container d-flex justify-content-center pt-2 flex-column flex-sm-row" method="post">
        {{ form.make }}
        <select class="mt-2 mt-sm-0 mx-sm-1 text-center" id="model" , name="model">
            <option label="-- Select Model --"></option>
        </select>
        {{ form.begin_year}}
        {{ form.end_year}}
        <button class="btn btn-primary mt-2 mt-sm-0 mx-sm-1" type="submit">Submit</button>
    </form>
</header>
{% endblock%}