{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'car_form.html' %}
{% endblock %}

{% block content %}

{% if request == "GET" %}
<div class="d-flex justify-content-center mt-3">
    <div class="container d-flex justify-content-around flex-wrap row">
        {% for make in makes %}
        <div class="parent d-flex flex-column justify-content-between p-4 border col-4 col-sm-3 col-lg-2  text-center">
            <a href="{% url 'model-list' make=make.make_id %}" class="child text-decoration-none">{{ make.make_display}}</a>
            <div class="d-flex flex-column justify-content-center flex-grow-1 ">
                <img class="img-fluid" src="{% static '/search_cars/images/' %}{{ make.make_id}}{{ make.format}}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% elif request == "POST" %}

{% include 'post.html' %}

{% endif %}

{% endblock%}